*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: palevioletred;
}
.searchfield{
    font-weight: 500;
    font-weight: bolder;
    height:50px;
    width:50px;
    padding: 0 80px 0 20px;
    margin:auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    letter-spacing: 0.1em;
    outline: none;
    border:none;
    text-shadow:0 0 10px #ccc;
    box-shadow: 12px 10px 27px 0 rgb(97, 2, 57) ,8px 9px 25px 0 rgb(230, 13, 201) ;
    z-index: 5;
    opacity: 0;
   border-radius: 30px;
   cursor: pointer;
   transition: all 250ms ease-in-out;
}

.searchfield:focus{
    width:300px;
    cursor:text;
    opacity: 1;
}
.search{
position:absolute;
margin: auto;
top: 0;
right: 0;
left: 0;
bottom: 0;
width:50px;
height: 50px;
border:none;
outline: none;
border-radius: 50%;
background-color: #fff;
transition: all 250ms;
z-index: 4;
}
.search::before{
    content:"";
    position:absolute;
    background-color: rgb(97, 6, 100);
    width:12px;
    height:2px;
    margin:auto;
    top: 10px;
    right:8px;
    bottom:-5px;
    left:22px;
    transform:rotate(45deg);

}
.search::after{
    content: "";
    position: absolute;
    background-color: white;
    border-radius:50%;
    width: 15px;
    height:15px;
    margin:auto;
    top:15px;
    right:11px;
    left:5px;
    bottom:20px;
    border: 2px solid rgb(97, 6, 100);
}
.searchfield:hover{
    cursor:pointer;
}
.searchfield:focus~.search{
   right:-240px;
   background-color: transparent;
   z-index: 6;

}
.searchfield:focus~.search::before{
    width:25px;
    height:2px;
    top: 28px;
    left:15px;
    bottom: 25px;

}
.searchfield:focus~.search::after{
    width: 25px;
    height: 2px;
    top: 28px;
    left:15px;
    bottom: 25px;
    rotate: -45deg;
    border: none;
    background-color: rgb(97, 6, 100) ;
    border-radius: 0%;

}
.search:hover{
    cursor: pointer;
}
